{{#each this}}

<li class="item">
  <div>  <video  controls ="controls"  src="{{videos.tiny.url}}" height="450" width="450"> </video>
  </div>

  <div>
  <p>Comments {{comments}}</p>
  <p>quantity of downloads {{downloads}}</p>
  <p>duration {{duration}}</p>
  <p> likes {{likes}}</p>
  <p> views statistic{{views}}</p>
  </div>
</li>
{{/each}}